# Config file for update_libguides_index.sh

# Libguider (downloads guides as HTML)
export LIBGUIDER_DIR={{ libguider_dir }}
export LIBGUIDER_SITE={{ libguider_site_id }}
export LIBGUIDER_API_KEY={{ libguide_api_key }}

# Indexer
export LIBGUIDES_INDEX_DIR={{ libguides_indexing_scripts_dir }}
export LIBGUIDES_TARGET={{ libguides_elasticsearch_url }}
export LIBGUIDES_INDEX_TEST={{ libguides_index_test }}
export LIBGUIDES_INDEX_STAGE={{ libguides_index_stage }}
export LIBGUIDES_INDEX_PROD={{ libguides_index_prod }}